#counter-container{
    height: 200px;
    width: 260px;
    border: 2px solid black;
    border-radius: 2rem; 
    background-color: white; 
    color: black;
    
}
button{
    margin-top: 15px;
    background-color: darkolivegreen;
    color: black;
}
